클래스 하나 생성
1. 인자 값으로 url 받아오기->csv파일의 주소(상대경로)
2. 함수하나 생성 -> url에 있는 csv파일을 읽어오고, 'country'기준으로 sort, 인덱스 값 초기화
3. 함수 하나 더 생성 -> 인자값을 리스트로 받는다.-> 이 매개변수를 기준으로 columns 삭제

In [ ]:
#틀린답
class Class_1():
    def __init__(self,input_a):
        self.a='./csv/Sales Records.csv'
    def sort(self):
        self.a.sort_values('country')
        self.a.reset_index(drop=True,inplace=True)
        return self.sort
    def drop(self,input_a):
        self.a= []
        self.drop(["a"], axis=1)
        return self.drop

x=Class_1('./Sales Records.csv')
print(x.drop(["country"],axis=1))

In [18]:
import pandas as pd

class Change_dt():
    def __init__(self,input_url):#url값만 받아오는 함수
        self.url=input_url
        
    def csv_read(self): #url읽기 -> 매개변수 필요없음
        self.dt=pd.read_csv(self.url) #변수 만들기
        self.dt.sort_values('Country',inplace=True) # 변수를 새로 지정하거나 inplace: 
        self.dt.reset_index(drop=True,inplace=True)
        return self.dt
    def remove_columns(self,input_list=[]):
        self.dt.drop(input_list, axis=1,inplace=True)#input_list는 매개변수이므로 self 안써도됨 self는 이 클래스가 가진 변수
        return self.dt

    def remove_2(self,input_s_column,input_e_column):#시작 끝 콜롬 받아오기 매개변수
        self.dt.drop(self.dt.loc[:,input_s_column:input_e_column],axis=1,inplace=True)
        return self.dt
    
dt= Change_dt("./csv/Sales Records.csv")


class Change_dt():
    def __init__(self,input_url):#url값만 받아오는 함수
        self.url=input_url
        
    def csv_read(self,input_sort="Country",input_inplace=True):#디폴트값정의
        self.dt=pd.read_csv(self.url) 
        self.dt.sort_values(input_sort,inplace=input_inplace)# 변수를 새로 지정하거나 inplace: 
        self.dt.reset_index(drop=True,inplace=input_inplace)
        return self.dt
    def remove_columns(self,input_list=[]):
        self.dt.drop(input_list, axis=1,inplace=True)#input_list는 매개변수이므로 self 안써도됨 self는 이 클래스가 가진 변수
        return self.dt

 dt=Change_dt("./csv/Sales Records.csv")
 dt.csv_read("c",tr~)

In [ ]:
dt.csv_read()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Middle East and North Africa,Afghanistan,Cereal,Offline,H,7/24/2013,933963477,8/23/2013,9402,205.70,117.11,1933991.40,1101068.22,832923.18
1,Middle East and North Africa,Afghanistan,Household,Offline,L,2/4/2012,772306096,3/21/2012,1391,668.27,502.54,929563.57,699033.14,230530.43
2,Middle East and North Africa,Afghanistan,Cereal,Offline,H,8/20/2015,667230880,10/5/2015,7300,205.70,117.11,1501610.00,854903.00,646707.00
3,Middle East and North Africa,Afghanistan,Meat,Offline,H,8/11/2012,161685121,8/29/2012,5075,421.89,364.69,2141091.75,1850801.75,290290.00
4,Middle East and North Africa,Afghanistan,Household,Offline,M,3/25/2011,440761888,4/1/2011,92,668.27,502.54,61480.84,46233.68,15247.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Sub-Saharan Africa,Zimbabwe,Cereal,Online,C,1/16/2016,742576920,2/6/2016,3867,205.70,117.11,795441.90,452864.37,342577.53
9996,Sub-Saharan Africa,Zimbabwe,Office Supplies,Offline,L,1/26/2010,322291505,2/11/2010,2073,651.21,524.96,1349958.33,1088242.08,261716.25
9997,Sub-Saharan Africa,Zimbabwe,Fruits,Offline,C,11/20/2015,436287105,11/27/2015,5904,9.33,6.92,55084.32,40855.68,14228.64
9998,Sub-Saharan Africa,Zimbabwe,Clothes,Online,C,1/21/2017,433102357,2/3/2017,3467,109.28,35.84,378873.76,124257.28,254616.48
9999,Sub-Saharan Africa,Zimbabwe,Fruits,Offline,C,12/29/2012,486245286,2/5/2013,9640,9.33,6.92,89941.20,66708.80,23232.40

In [ ]:
dt.remove_columns(["Item Type",'Sales Channel'])

In [ ]:
dt.remove_2("Order Priority","Order ID")

In [ ]:
import mod1 #파이썬 파일 가져오기

In [ ]:
mod1.add(5,3)#같은 폴더이기 떄무네 바로 사용

8

8

In [ ]:
from module import mod2 #하위 폴더에있는 파일 가져오기 from폴더명import파일명

In [ ]:
mod2.sub(5,3)#쥬피터에서는 기존의 import한 파일 업데이트가 안됨 reload(mod1)하면 됨??

2

2

In [ ]:
import mod1
import imp
imp.reload(mod1)

In [ ]:
from mod3 import add, sub

add(3,5)

8

In [ ]:
sub(5,3)

2

In [ ]:
import mod4
import imp
imp.reload(mod4)

In [ ]:
#클래스를 모듈로 만들어서 모듈을 import한 후 클래스 실행시키기
dt = mod4.Change_dt_2("./csv/Sales Records.csv")

In [ ]:
dt.csv_read()

In [ ]:
dt.remove_2("Item Type","Order Priority")

In [17]:
from mod4 import Change_dt_2 as ct

dt_2=ct("./csv/Sales Records.csv")

In [21]:
dt_2.csv_read()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Middle East and North Africa,Afghanistan,Cereal,Offline,H,7/24/2013,933963477,8/23/2013,9402,205.70,117.11,1933991.40,1101068.22,832923.18
1,Middle East and North Africa,Afghanistan,Household,Offline,L,2/4/2012,772306096,3/21/2012,1391,668.27,502.54,929563.57,699033.14,230530.43
2,Middle East and North Africa,Afghanistan,Cereal,Offline,H,8/20/2015,667230880,10/5/2015,7300,205.70,117.11,1501610.00,854903.00,646707.00
3,Middle East and North Africa,Afghanistan,Meat,Offline,H,8/11/2012,161685121,8/29/2012,5075,421.89,364.69,2141091.75,1850801.75,290290.00
4,Middle East and North Africa,Afghanistan,Household,Offline,M,3/25/2011,440761888,4/1/2011,92,668.27,502.54,61480.84,46233.68,15247.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Sub-Saharan Africa,Zimbabwe,Cereal,Online,C,1/16/2016,742576920,2/6/2016,3867,205.70,117.11,795441.90,452864.37,342577.53
9996,Sub-Saharan Africa,Zimbabwe,Office Supplies,Offline,L,1/26/2010,322291505,2/11/2010,2073,651.21,524.96,1349958.33,1088242.08,261716.25
9997,Sub-Saharan Africa,Zimbabwe,Fruits,Offline,C,11/20/2015,436287105,11/27/2015,5904,9.33,6.92,55084.32,40855.68,14228.64
9998,Sub-Saharan Africa,Zimbabwe,Clothes,Online,C,1/21/2017,433102357,2/3/2017,3467,109.28,35.84,378873.76,124257.28,254616.48
9999,Sub-Saharan Africa,Zimbabwe,Fruits,Offline,C,12/29/2012,486245286,2/5/2013,9640,9.33,6.92,89941.20,66708.80,23232.40

In [ ]:
dt_2.remove_columns(["Item Type",'Sales Channel'])

In [23]:
dt_2.remove_2("Order Priority","Order ID")

,Region,Country,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Middle East and North Africa,Afghanistan,8/23/2013,9402,205.70,117.11,1933991.40,1101068.22,832923.18
1,Middle East and North Africa,Afghanistan,3/21/2012,1391,668.27,502.54,929563.57,699033.14,230530.43
2,Middle East and North Africa,Afghanistan,10/5/2015,7300,205.70,117.11,1501610.00,854903.00,646707.00
3,Middle East and North Africa,Afghanistan,8/29/2012,5075,421.89,364.69,2141091.75,1850801.75,290290.00
4,Middle East and North Africa,Afghanistan,4/1/2011,92,668.27,502.54,61480.84,46233.68,15247.16
...,...,...,...,...,...,...,...,...,...
9995,Sub-Saharan Africa,Zimbabwe,2/6/2016,3867,205.70,117.11,795441.90,452864.37,342577.53
9996,Sub-Saharan Africa,Zimbabwe,2/11/2010,2073,651.21,524.96,1349958.33,1088242.08,261716.25
9997,Sub-Saharan Africa,Zimbabwe,11/27/2015,5904,9.33,6.92,55084.32,40855.68,14228.64
9998,Sub-Saharan Africa,Zimbabwe,2/3/2017,3467,109.28,35.84,378873.76,124257.28,254616.48
9999,Sub-Saharan Africa,Zimbabwe,2/5/2013,9640,9.33,6.92,89941.20,66708.80,23232.40